.layout {
    min-height: 100vh;
    background: #f8fafc;
}


.layout__content {

    margin-left: 270px;

    min-height: 100vh;

    padding: 32px;

    overflow-x: hidden;
}


main {
    width: 100%;
}



@media(max-width:1024px) {

    .layout__content {
        margin-left: 220px;
        padding: 24px;
    }

}



@media(max-width:768px) {

    .layout__content {

        margin-left: 80px;

        padding: 16px;
    }

}